contador.json
[
    {
        "id": "b3483ba09d3ed8bd",
        "type": "subflow",
        "name": "Contador",
        "info": "",
        "category": "function",
        "in": [
            {
                "x": 320,
                "y": 180,
                "wires": [
                    {
                        "id": "626f11d626c6324b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 340,
                "wires": [
                    {
                        "id": "626f11d626c6324b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "valor",
                "type": "num",
                "value": ""
            },
            {
                "name": "Reset",
                "type": "bool",
                "value": "true"
            },
            {
                "name": "Nombre",
                "type": "str",
                "value": ""
            },
            {
                "name": "modo",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {
            "module": "Contador",
            "version": "0.0.1",
            "author": "Crodrigo",
            "desc": "CONTADOR",
            "keywords": "contador",
            "license": "MIT"
        },
        "color": "#E7E7AE",
        "inputLabels": [
            "Configuracion"
        ],
        "icon": "node-red/serial.svg",
        "status": {
            "x": 760,
            "y": 160,
            "wires": [
                {
                    "id": "88550707688803ab",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "626f11d626c6324b",
        "type": "function",
        "z": "b3483ba09d3ed8bd",
        "name": "Contador",
        "func": "let nombre=env.get(\"Nombre\") || \"C1\";\nlet val=env.get(\"valor\") || msg.valor;\nlet reset=env.get(\"reset\")|| msg.reset\nvar local=context.get('data') || {};\n\n\nif (local.count===undefined){\n    local.count=0;\n}\n\nif (msg.reset==\"true\" || local.count>=msg.preset){    \n    local.count=0\n    node.status({fill:\"red\",shape:\"dot\",text:\"Reset\"});\n}else{\n    if(msg.reset=== false){\n        if(msg.modo==\"inc\"){\n            local.count += val;\n            node.status({fill:\"red\",shape:\"dot\",text:\"Sumado\"});    \n        }else if(msg.modo==\"dec\") {\n            local.count -= val;\n            node.status({fill:\"red\",shape:\"dot\",text:\"Restando\"});    \n        }    \n    }\n}\n\n\n\n\n\n\n\n\nmsg.topic= nombre\n\nmsg.payload={totalizador:local.count};\ncontext.set('data',local);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "88550707688803ab",
        "type": "status",
        "z": "b3483ba09d3ed8bd",
        "name": "",
        "scope": null,
        "x": 570,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "efc5673cda776d9f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8f9a76cafe668178",
        "type": "inject",
        "z": "efc5673cda776d9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "b19ebbfdbfef945d"
            ]
        ]
    },
    {
        "id": "67128a0dbd6cf07d",
        "type": "debug",
        "z": "efc5673cda776d9f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "b19ebbfdbfef945d",
        "type": "function",
        "z": "efc5673cda776d9f",
        "name": "function 1",
        "func": "contador={}\n\ncontador={\n    reset: false,\n    modo: \"inc\",\n    preset:15,\n    valor:10\n    }\nmsg=contador     \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "f2f783e5be9e287b"
            ]
        ]
    },
    {
        "id": "f2f783e5be9e287b",
        "type": "subflow:b3483ba09d3ed8bd",
        "z": "efc5673cda776d9f",
        "name": "C1",
        "env": [
            {
                "name": "valor",
                "value": "1",
                "type": "num"
            },
            {
                "name": "Reset",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "Nombre",
                "value": "C1",
                "type": "str"
            },
            {
                "name": "modo",
                "value": "dec",
                "type": "str"
            },
            {
                "name": "Valor",
                "value": "1",
                "type": "num"
            }
        ],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "67128a0dbd6cf07d"
            ]
        ]
    }
]